/*--------BASIC SETUP  -------*/

body,html {
    background: #f5f8fa;
    color: #3D3D3D;
    font-size: 13px;
    font-weight: 300;
	font-family: 'Chivo', sans-serif;
}


/*============ HEADER ===============*/
.container{	
	background-image: url(img/background.png);	
    background: #3551C6;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 85px;
	margin: 0;
	padding: 0;	
}

.head-text {
	color: #fff;
	text-align: center;
	padding-top: 30px;		
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.20px;
	line-height: 20px;
}

.btn{
	text-decoration: none;
	color: #fff;
	background-color: #6485f4;
	border-radius: 60px;	
    font-weight: 700;		
    text-transform: uppercase;
	font-size: 16px;	
    margin-left: 30px;
    padding: 8px 25px;	
    letter-spacing: 0.8px;
	display: inline-block;
}

.btn:hover {
    color: #d0d6d9;
    transition: all ease 0.3s;
}

/*------------Responsive Web Design --------------*/


@media only screen and (max-width: 860px) {
	
	.container{	height: 110px; }
	
	.head-text { font-size:18px; }
	
	.btn{	
		display: block;	
	    border-radius: 60px;		
		width: 15%;
		position: relative;
		left: 38%;
		font-size: 16px;
		margin-top: 5px;
	}
	
}


@media only screen and (max-width: 798px) {
	
	.container{	height: 110px; }
	
	.head-text { font-size:18px; }
	
	.btn{	
		display: block;	
	    border-radius: 60px;		
		width: 16%;
		position: relative;
		left: 35%;
		font-size: 16px;
		margin-top: 5px;
	}
	
}

@media only screen and (max-width: 747px) {
	
	.container{	height: 120px; }
	
	.head-text { font-size:18px; }
	
	.btn{	
		display: block;	
	    border-radius: 60px;		
		width: 18%;
		position: relative;
		left: 32%;
		font-size: 16px;
		margin-top: 12px;
	}
}

@media only screen and (max-width: 665px) {
	
	.container{	height: 120px; }
	
	.head-text { font-size:18px; }
	
	.btn{	
		display: block;	
	    border-radius: 60px;		
		width: 18%;
		position: relative;
		left: 32%;
		font-size: 14px;
		margin-top: 10px;
	}
}



@media only screen and (max-width: 630px) {
	
	.container{	height: 130px; }
	
	.head-text { font-size:17px; }
	
	.btn{	
		display: block;	
	    border-radius: 60px;		
		width: 25%;
		position: relative;
		left: 30%;
		font-size: 14px;
		margin-top: 10px;
	}
}


@media only screen and (max-width: 600px) {
	
	.container{	height: 130px; }
	
	.head-text { font-size:17px; }
	
	.btn{	
		display: block;	
	    border-radius: 60px;		
		width: 25%;
		position: relative;
		left: 28%;
		font-size: 14px;
		margin-top: 10px;
	}
}

